.section--about-content {
    padding: 1rem;
    background-color: var(--color-gris-acier); /* Par exemple, #b0b0b0 */
    color: #000;
  }
  
  .about-block {
    margin-bottom: 1.5rem;
  }
  
  .about-block h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: var(--color-bleu-nuit);
  }
  
  .about-block p,
  .about-block ul {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .about-block ul {
    margin-left: 1.5rem;
    list-style-type: disc;
  }
  
  /* SECTION TIMELINE */
.section--timeline {
    padding: 1rem;
    background-color: #fff; /* Couleur blanche ou autre */
    color: #333;
  }
  
  .section--timeline h3 {
    color: var(--color-bleu-nuit);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .timeline-list {
    margin-left: 1.5rem;
    list-style-type: disc;
    line-height: 1.4;
  }
  
  /* SECTION QUOTES (FILMS) */
  .section--quotes {
    padding: 1rem;
    background-color: var(--color-gris-fonce);
    color: #fff;
  }
  
  .section--quotes h3 {
    color: var(--color-or);
    margin-bottom: 1rem;
  }
  
  .quote-block {
    background-color: #e3e3e3;
    color: #333;
    padding: 0.8rem;
    border-left: 4px solid var(--color-or);
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 0.95rem;
  }
  /* SECTION CTA */
.section--cta {
    padding: 2rem 1rem;
    background-color: #fff;
    color: #333;
    text-align: center;
  }
  
  .section--cta h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color-bleu-nuit);
  }
  
  .section--cta p {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .about-cta-link {
    color: var(--color-bleu-nuit);
    font-weight: bold;
    text-decoration: none;
  }
  .about-cta-link:hover {
    text-decoration: underline;
  }
  
  